.carousel-container{
    width: 55rem;
    height: 20rem;
    border: 1px solid;
    overflow: hidden;
    position: relative;
    .carousel-item-cont{
        display: flex;
        // flex-direction: row;
        width: 200rem;
        height: 20rem;
        
    }
    .carousel-img{
        width:60rem;
        height: 20rem;
    }
    .prev{
        position: absolute;
        left: 0;
        top: 40%;
    }
    .next{
        position: absolute;
        right: 0;
        top: 40%;
    }
    .prev:hover{
        background-color: rgb(216, 185, 26);
    }
    .next:hover{
        background-color: rgb(216, 185, 26);
    }
}